body{
    background-color: rgb(95, 101, 115);
    color: rgb(248, 245, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

fieldset{
    border: none;
}

.text-center{
    text-align: center;
}

.container{
    margin: 2cm auto 2cm auto;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(65, 64, 78);
    opacity: 0.7;
}

.container section{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.create-form{
    width: 100%;
}

#termsPopup{
    display: none;
    /* position: fixed; */
    border: 3px solid blueviolet;
    background-color: rgb(146, 114, 72);
}

label{
    display: inline-block;
    margin: 0.5rem 0;
}

input, select, textarea{
    background-color: rgb(32, 36, 48);
    border-color: transparent;
    border-radius: 3px;
    color: whitesmoke;
    height: 25px;
    width: 100%;
}

input[type="radio"], input[type="checkbox"]{
    width: auto;
    height: auto;
    margin: auto;
}

#cv{
    padding-top: 3px;
    padding-left: 3px;
}

.btn, button{
    display: block;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin: auto;
    margin-top: 5px;
    width: 20%;
    padding: 8px;
}

.link{
    text-decoration: underline;
}

button:hover{
    opacity: 1;
}

a{
    color: rgb(248, 245, 240);
}
