body{
    background-color: rgb(59, 57, 78);
    color: rgb(248, 245, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

fieldset{
    border: none;
}

.text-center{
    text-align: center;
}

.container{
    margin: 100px;
    /* max-width: 500px;
    min-height: 300px; */
}

.container section{
    margin-left: 34%;
    margin-right: 34%;
}

.create-form{
    width: 100%;
}

label{
    display: block;
    margin: 0.5rem 0;
}

input{
    background-color: rgb(38, 34, 47);
    border-color: rgb(68, 61, 74);
    color: whitesmoke;
    height: 25px;
    width: 100%;
}
